.pre-loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 50;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 83, 0.219);
    backdrop-filter: blur(50px);
}

.pre-loader>* {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid black;
    border-bottom-color: rgb(0, 202, 158);
    border-top-color: var(--milk);
    border-left-color: var(--green);
    border-right-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 1s rotateme linear infinite;

}
.loadingme{
    position: relative;
    width: 100%;
}
.loadingme>* {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid black;
    border-bottom-color: orange;
    border-top-color: var(--milk);
    border-left-color: var(--green);
    border-right-color: red;
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation: 1s rotatem linear infinite;

}

@keyframes rotateme {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes rotatem {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        opacity: 10%;
    }

    50% {
        opacity: 100%;
    }
    100% {
        opacity: 10%;
        transform: translate(-50%, -50%) rotate(360deg);
    }
}