.customer {
    justify-content: center;
    margin-top: 50px !important;
}

.customer>* {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.212);
    margin: 10px;
    border-bottom: 8px solid var(--milk);
    min-height: 250px;
}

.process {
    position: relative;
    overflow: hidden;
}

.processor {
    position: absolute;
    width: 220px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 220px;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: linear-gradient(60deg, red, rgb(0, 68, 255), rgb(60, 255, 0));
    align-items: center;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.411);
    justify-items: center;
    background-color: royalblue;
    border-radius: 50%;
}

.processor2 {
    position: absolute;
    width: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 180px;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.411), inset 0px 0px 10px 0px rgba(0, 0, 0, 0.411);
    background-color: var(--black);
    border-radius: 50%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center>h1>span {
    color: var(--milk);
    /* background: linear-gradient(-60deg, red, rgb(0, 68, 255), rgb(60, 255, 0)); */
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 60px;
}

.photo {
    position: relative;
    width: 150px;
    margin: 20px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.411);
}

.photo>* {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid2 {
    display: grid;
    grid-template-columns: var(--template);
}

.grid2>*:nth-child(2) {
    text-align: end;
    margin-top: 30px;
}

.grid2>*:nth-child(2) p {
    text-align: end;
    margin-top: -10px;
    position: relative;
}

.card_black {
    position: relative;
    background: linear-gradient(60deg, var(--green) 10%, transparent 60% , var(--green) 30%);
    cursor: pointer;
    background-color: rgb(0, 143, 143);
    border-radius: 10px;
    margin: 10px;
    margin-left: 25px;
    padding: 10px;
}

.card_black h1 {
    color: var(--black);
}

.deals p,
.grid_mini p {
    font-size: small;
    margin-bottom: -0px;
}

.deals h4,
.grid_mini h5 {
    font-size: 16px;
    margin-bottom: -0px;
}

.grid_mini h5 {
    text-transform: uppercase;
}

.customer .content h4 {
    margin-top: -10px;
    font-size: 20px;
}

.customer .content p {
    font-size: small;
}



.grid_mini {
    justify-content: center;
    width: 100%;
    /* background-color: rgba(47, 48, 48, 0.247); */
    padding: 10px;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-self: center;
    align-self: center;
    position: relative;
    /* grid-template-columns: auto auto auto; */
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
}

.grid_mini>*:nth-child(even) {
    background-color: var(--black);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.175);
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 4px;
    min-height: 65px;
    min-width: 150px;
    text-align: center;
}

.grid_mini>*:nth-child(odd) {
    background: linear-gradient(60deg, rgba(61, 0, 0, 0.295), rgba(0, 0, 0, 0.925));
    min-height: 65px;
    background-color: var(--green);
    color: var(--black);
    /* box-shadow:inset 0px 0px 10px 0px rgba(0, 0, 0, 0.219); */
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 4px;
    min-width: 150px;
    text-align: center;
}
.filter{
    padding: 5px;
    background-color: var(--milk) !important;
    /* border-radius: 50px; */
    color: var(--black) !important;
    width: 92.5%;
    margin-left: -10px;
    position: fixed;
    top: 0px;
    z-index: 6;
    column-gap: 10px;

}
.filter > *:nth-child(1){
    background-color: violet !important;
    min-width: 100px;
    border-radius: 50px;
    font-size: small; 
    padding:10px;
    text-align: center;
}
.filter > *:nth-child(2) > *{
    /* background-color: ; */
    min-width: 80px;
    /* border-radius: 50px; */
    font-size: x-small; 
    border-bottom: 1px solid rgba(238, 182, 130, 0);
    padding:10px;
    cursor: pointer !important;
    text-align: center;
}
.hover{
    /* background-color: red; */
    min-width: 100px;
    /* border-radius: 50px; */
    font-size: small; 
    border-bottom: 1px solid rgb(238, 182, 130) !important;
    padding:10px;
}
.filters{
    width: 100%;
    float: right;
}


.filte{
    padding: 5px;
    background-color: var(--milk) !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--black) !important;
    width: 92.5%;
    margin-left: 30px;
    top: 0px;
    z-index: 6;
    column-gap: 10px;

}
.filte > *:nth-child(1){
    background-color: violet !important;
    min-width: 100px;
    border-radius: 50px;
    font-size: small; 
    padding:10px;
    text-align: center;
}
.filte > *:nth-child(2) > *{
    /* background-color: ; */
    min-width: 80px;
    /* border-radius: 50px; */
    font-size: x-small; 
    border-bottom: 1px solid rgba(238, 182, 130, 0);
    padding:10px;
    cursor: pointer !important;
    text-align: center;
}
@media screen and (max-width:500px) {
    .customer {
        margin: 10px;
    }

    .customer .title>* {
        font-size: small;
    }

    .grid2 .photo {
        width: 100px;
        height: 100px;
        margin-left: 75px;
    }

    .customer h4,
    .grid_mini h5 {
        font-size: small !important;
        text-transform: uppercase;
    }

    .customer p {
        font-style: italic;
        font-size: 12px !important;
    }
    .mini_grid{
        display: flex !important;
        flex-shrink: 1 !important;
        flex-basis: 1 !important;
    }
    .grid_mini>*:nth-child(even) {
        background-color: var(--black);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.175);
        /* border: 1px solid black; */
        border-radius: 10px;
        padding: 4px;
        width: 100%;
        min-height: 60px;
        min-width: 100px;
        text-align: center;
    }

    .grid_mini>*:nth-child(odd) {
        background: linear-gradient(60deg, rgba(61, 0, 0, 0.295), rgba(0, 0, 0, 0.925));
        width: 100%;

        min-height: 60px;
        background-color: var(--green);
        color: var(--black);
        /* box-shadow:inset 0px 0px 10px 0px rgba(0, 0, 0, 0.219); */
        /* border: 1px solid black; */
        border-radius: 10px;
        padding: 4px;
        min-width: 100px;
        text-align: center;
    }

    .process {
        position: relative;
        overflow: hidden;
    }

    .processor {
        position: absolute;
        width: 150px;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 150px;
        justify-content: center;
        align-content: center;
        text-align: center;
        background: linear-gradient(60deg, red, rgb(0, 68, 255), rgb(60, 255, 0));
        align-items: center;
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.411);
        justify-items: center;
        background-color: royalblue;
        border-radius: 50%;
    }

    .processor2 {
        position: absolute;
        width: 120px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 120px;
        justify-content: center;
        align-content: center;
        text-align: center;
        align-items: center;
        justify-items: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.411), inset 0px 0px 10px 0px rgba(0, 0, 0, 0.411);
        background-color: var(--black);
        border-radius: 50%;
    }

    .customer>* {
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.212);
        margin: 10px;
        margin-right: -10px;
        width: 93% !important;
        margin-bottom: 20px;
        border-bottom: 8px solid var(--milk);
        min-height: 250px;
    }

    .card_black {
        position: relative;
        background-color: var(--milk);
        border-radius: 10px;
        margin: 10px;
        margin-left: 25px;
        padding: 10px;
    }

    .deals p,
    .grid_mini p {
        font-size: small;
        font-style: normal;
        margin-bottom: -0px;
    }

    .deals h4,
    .grid_mini h5 {
        margin-top: 15px;
        font-size: 16px;
        margin-bottom: -0px;
    }

    .deals span {
        font-size: small;
    }

    .photo {
        position: relative;
        width: 150px;
        margin: 20px;
        margin-left: 0px !important;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.411);
    }
    
    .photo>* {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .grid2 {
        display: grid;
        grid-template-columns: 100px auto;
    }
    
    .grid2>*:nth-child(2) {
        text-align: start ;
        margin-top: 30px;
    }
    
    .grid2>*:nth-child(2) p {
        text-align: start;
        margin-top: -10px;
        word-wrap: break-word;
        -ms-word-wrap: break-word;
        text-wrap: wrap;
        position: relative;
    }

}

@media screen and (max-width:436px) {
    .card_black {
        position: relative;
        background: linear-gradient(0deg,rgb(1, 231, 1),darkblue);
        border-radius: 10px;
        margin: 10px;
        display: none !important;
        margin-left: 15px !important;
        padding: -10px !important;
        min-width: 2px !important;
        max-width: 2px !important;
        flex: 0;
        overflow: hidden;
        width: 0px !important;
    }

    .card_black > * {
        padding: 0px !important;
        width: 0px !important;
        display: none !important;
        margin: 0px !important;
    }
}