/* :root {
    --green: rgb(4, 107, 0) !important;
    --blue: rgb(21, 255, 0) !important;
    --milk: rgb(17, 17, 17);
    --shadow: rgb(221, 202, 245);
    --gray_color: rgb(228, 225, 225);
    --black: rgb(255, 255, 255);
    --top-color:rgb(9, 39, 0) !important;
    --green-slim: rgb(28, 212, 4);
    --banner-color:rgb(29, 29, 29);
} */