.navtab {
    border-bottom: 1px solid var(--milk);
    margin-left: -30px;
    background-color: var(--milk);
    margin-top: -10px;
    padding-top: 20px !important;
    text-align: center !important;
    border-radius: 0px !important;
}

.navtab .title h5,
.navtab .title span {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: 900;
    font-size: 20px;
    color: var(--milk);
    text-transform: uppercase;
}

.navtab .title h5 {
    color: var(--black);
    position: relative;
    margin-left: 20px;
    text-align: center;
}

.navtab .title h5 span {
    color: rgb(49, 97, 253);
}

/* .sidebar{
    background-color: black;
    color: white !important;
} */
.menu li:nth-child(1) {
    text-align: start;
    border-radius: 0px !important;
    margin-top: -10px;
    padding: 10px !important;
    margin-left: -42px !important;
    border-top: 1px solid var(--banner-color);
    padding-top: 50px !important;
    width: 220px !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    background-color: var(--milk);
}

.menu li:nth-child(1) .dropdown {
    color: rgb(187, 187, 187) !important;
    text-transform: uppercase;
    font-size: x-large;
}

.menu .nested_list,
.menu .nested_list:hover {
    text-align: start;
    border-radius: 10px;
    padding: 0px;
    margin-left: -30px;
    background: none;
}

.menu .nested_list li:nth-child(1),
.menu .nested_list li,
.menu .nested_list li:nth-child(1):hover {
    text-align: start;
    border-radius: 10px;
    margin: 0px !important;
    padding: 2px !important;
    margin-left: -20px !important;
    background: none;

}

.mini-sidebar {
    position: fixed;
    top: 0%;
    z-index: 4;
    left: 0px;
    height: 100vh;
}

.mini-sidebar>* {
    position: fixed;
    top: 50%;
    left: -100px;
    width: 60px !important;
    background: linear-gradient(-60deg, var(--green), transparent);
    background-color: rgb(2, 184, 145);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    color: var(--black);
    transform: translateY(-50%);
}

.mini-sidebar>*:hover {
    position: fixed;
    top: 50%;
    left: -100px;
    width: 60px !important;
    background: linear-gradient(60deg, var(--green), transparent);
    background-color: rgb(167, 2, 65);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    color: var(--black);
    transform: translateY(-50%);
}

.mini-sidebar>*.minimized {
    position: fixed;
    top: 50%;
    left: 0px;
    width: 60px !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    color: var(--black);
    transform: translateY(-50%);
}

.mini-sidebar>*>*>* {
    padding-top: 10px;
    color: var(--black);
}

.mini-sidebar>*>*>*:hover {
    color: rgb(0, 255, 234);
}

.mini-sidebar>* i {
    background-color: rgb(128, 23, 23);
    position: relative;
    padding: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    font-size: large;
}

.navtab i {
    color: white;
}

.sidebar.minimized {
    width: -10px !important;
    overflow: hidden !important;
}

.dashboard_grid_container.minimized {
    margin-left: -20px;
    grid-template-columns: 0px 100%;
}

@keyframes from_left {
    0% {
        margin-left: -20px;
    }

    10% {
        margin-left: -30px;
    }

    50% {
        margin-left: -70px;
    }

    60% {
        margin-left: -30px;
    }

    90% {
        margin-left: -80px;
    }

    100% {
        margin-left: -20px;
    }
}

/* 
@keyframes waiting {
    0% {
        width: 200px;
        overflow: hidden;
    }

    100% {
        width: -10px !important;
        overflow: hidden;
    }
} */
@media screen and (max-width:500px) {
    .mini-sidebar>* .main-bar {
        display: none;
    }

    .sidebar {
        width: -10px !important;
        overflow: hidden !important;
    }

    .dashboard_grid_container {
        margin-left: -20px;
        grid-template-columns: 0px 100% !important;
    }

    .sidebar.minimized {
        width: -10px !important;
        display: none;
        overflow: hidden !important;
    }

    .dashboard_grid_container.minimized {
        margin-left: -20px;
        grid-template-columns: 0px 100% !important;
    }

    .mini-sidebar>*,
    .mini-sidebar>*:hover {
        position: fixed;
        top: 2%;
        left: 50%;
        padding: 6px;
        width: 200px !important;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.171);
        border-radius: 10px;
        color: var(--black);
        transform: translate(-50%,-2%);
    }

    .mini-sidebar>* {
        display: flex;
        box-sizing: border-box;
    }

    /* .mini-sidebar>*.minimized {
        position: fixed;
        top: 50%;
        left: 0px;
        width: 60px !important;
        border-radius: 10px;
        color: var(--black);
        transform: translateY(-50%);
    } */

    .mini-sidebar>*>*>* {
        padding-top: 5px;
        color: var(--black);
        font-size: large;
        margin: 5px;
    }

    .mini-sidebar>* i {
        background-color: rgb(128, 23, 23);
        position: relative;
        padding: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 100%;
        font-size: large;
    }

}